<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
	
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>matchServlet</servlet-name>
  	<servlet-class>controller.MatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>matchServlet</servlet-name>
  	<url-pattern>/match</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>userFinder</servlet-name>
  	<servlet-class>controller.UserFinder</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userFinder</servlet-name>
  	<url-pattern>/dbOperate</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
      <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
